<div class="modal fade" id="modalRemoverConta" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST" action="{{ url_for('page_home') }}">
          {{ remover_form.hidden_tag() }}
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Remover Conta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
           {% for conta in contas %}

            <ul>
                <ui>
                    <p>
                        Data: {{conta.data_ref}}
                        Valor: R$ {{conta.valor}}
                        <button class="btn btn-outline btn-danger">Remover</button>
                    </p>
                    
                </ui>
            </ul>

           {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>

