{% extends 'base.html' %}

{% block titulo %}
    Home
{% endblock %}


{% block conteudo %}
<body>
    
<main class="split-layout">
    <div class="left-side">
        <div class="content">
            <h1>Otimize seu Consumo de Energia</h1>
            <p>Os altos custos de energia elétrica podem ser um desafio, mas crescente e gerenciado até consumo para o dia há fácil trocar. Atualmente, que não pode ser auxiliar. Interessar a colocar seus gastos energéticos, seja em casa ou na sua empresa.</p>
            <div class="author">
                <p><strong>XHIM CENIO</strong></p>
            </div>
            <button class="cta-button">SAIBA MAIS</button>
        </div>
        {% include 'includes/add-rem-conta.html' %}
        <td>
            <button data-bs-toggle="modal" data-bs-target="#modalAdicionarConta" class="btn btn-outline btn-success">Adicionar Conta</button>
        </td>
    </div>
    <div class="right-side"></div>
</main>

</body>

{% endblock %}
